<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="img/svg/M-logo1.svg" width="40px" height="40px" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">MMPC <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/sa-dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Member
    </div>

    <!-- Nav Item - Members -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMember"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user"></i>
            <span>Members</span>
        </a>
        <div id="collapseMember" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="/sa-members">Members Profile</a>
                <h6 class="collapse-header">Enabled/Disabled user:</h6>
                <a class="collapse-item" href="cards.html">Members User Acc.</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Add/Terminated -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user-cog"></i>
            <span>Add/Terminated</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/sa-addmember">Add Member</a>
                <a class="collapse-item" href="/sa-terminated">Terminated Member</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Loans
    </div>

    <!-- Nav Item - Loan Calculator-->
    <li class="nav-item">
        <a class="nav-link" href="/calculator">
            <i class="fas fa-fw fa-table"></i>
            <span>Loan Calculator</span></a>
    </li>

    <!-- Nav Item - Payment/Add loans -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLoans"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-money-check-alt"></i>
            <span>Payment/Add loans</span>
        </a>
        <div id="collapseLoans" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Loans:</h6>
                <a class="collapse-item" href="/sa-addloan">Add Loans</a>
                <a class="collapse-item" href="/sa-payment">Loan Payment</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Past Due:</h6>
                <a class="collapse-item" href="/sa-maturity">Past Maturity Loan</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePE"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-donate"></i>
            <span>Patronage/Expenses</span>
        </a>
        <div id="collapsePE" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Patronage:</h6>
                <a class="collapse-item" href="/sa-patronage">Add Patronage</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Expenses:</h6>
                <a class="collapse-item" href="/sa-expenses">Add Expenses</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-registered"></i>
            <span>Reports</span>
        </a>
        <div id="collapseReports" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Loans:</h6>
                <a class="collapse-item" href="/sa-cashflow">Cash Flow</a>
                <a class="collapse-item" href="/sa-dailyCollection">Daily Collection</a>
                <a class="collapse-item" href="/sa-loan-releases">Loan Releases</a>
                <a class="collapse-item" href="/sa-income-reports">Income Reports</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Removed Fines:</h6>
                <a class="collapse-item" href="/sa-condonation">Condonation</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Settings
    </div>

    <!-- Nav Item - Loan Calculator-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseSettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Settings:</h6>
                <a class="collapse-item" href="register.html">Change User Info</a>
                <a class="collapse-item" href="register.html">Change Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">System Maintenance:</h6>
                <a class="collapse-item" href="404.html">Update Officer</a>
                <a class="collapse-item" href="404.html">Start Applying Loan</a>
                <a class="collapse-item" href="404.html">Loan Deduction Rate</a>
                <a class="collapse-item" href="404.html">Credit Score</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>