{{!-- ang alagay mo lang pala dito yung nasa loob lang ng body tag ng template na ndl mo --}}


{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    Diba andito yung css link mo, copy mo lang yun tapos paste mo sa css.hbs under sya ng views->partials
</head>
<body> --}}

    Sa loob lang ng body kukunin mo! Yun lang lalagay mo dito.


    yung pag link pala page ay ganito
    <a href="/a-login"><button class="btn btn-primary">Log-in</button></a>
    <a href="/a-pre-registration"><button class="btn btn-primary">Pre-registration</button></a>


    tapos ganun din dito sa script, sa script.hbs naman. Take note pag may nakalagay na dun wag mo ipaste same din dun sa css.hbs
{{!-- </body>
</html> --}}